.social-block {
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    transition: $transition ease;

    @media (hover: hover) {
      &:hover {
        transform: scale(1.15);
      }
    }
  }
}
