.button-outline {
  border-color: $palette-white;
  color: $color-text__white;

  @media (hover: hover) {
    &:hover {
      border-color: $palette-orange;
      background-color: $palette-orange;
    }
  }

  &--orange {
    border-color: $palette-orange;
  }
}
