<nav class="nav nav--header">
  <ul class="nav__list">
    <li class="nav__item dropdown">
      <span class="dropdown__header">
        <span class="nav__link link">Все продукты</span>
        <img class="dropdown__icon" src="assets/img/icons/control/dropdown__arrow.svg" alt="">
      </span>

      <div class="dropdown__content">
        <a class="dropdown__item" href="">Тест</a>
        <a class="dropdown__item" href="">Тест</a>
        <a class="dropdown__item" href="">Тест</a>
        <a class="dropdown__item" href="">Тест</a>
        <a class="dropdown__item" href="">Тест</a>
      </div>
      <!-- /.dropdown__content -->
    </li>

    <li class="nav__item dropdown">
      <span class="dropdown__header">
        <span class="nav__link link">Наши процессы</span>
        <img class="dropdown__icon" src="assets/img/icons/control/dropdown__arrow.svg" alt="">
      </span>

      <div class="dropdown__content">
        <a class="dropdown__item" href="">Тест</a>
        <a class="dropdown__item" href="">Тест</a>
        <a class="dropdown__item" href="">Тест</a>
      </div>
      <!-- /.dropdown__content -->
    </li>

    <li class="nav__item">
      <a class="nav__link link" href="">Акции</a>
    </li>
  </ul>
</nav>
<!-- /.nav -->