<div id="side-menu" class="side-menu">
  <div class="side-menu__overlay"></div>

  <div class="side-menu__container">
    <div class="side-menu__content">
      <img class="side-menu__close" src="assets/img/icons/control/close.svg">

      <div class="side-menu__nav">
        <nav class="nav nav--side">
          <ul class="nav__list">
            <li class="nav__item">
              <a class="nav__link link" href="">ГЛАВНАЯ СТРАНИЦА</a>
            </li>

            <li class="nav__item">
              <a class="nav__link link" href="">КОНТАКТЫ</a>
            </li>

            <li class="nav__item">
              <a class="nav__link link" href="">БЛОГ</a>
            </li>

            <li class="nav__item">
              <a class="nav__link link" href="">FAQ</a>
            </li>
          </ul>
        </nav>
        <!-- /.nav -->
      </div>
      <!-- /.side-menu__nav -->

      <div class="social-block side-menu__social">
        <a href="" target="_blank"><img src="assets/img/icons/social/mail.svg" alt=""></a>
        <a href="" target="_blank"><img src="assets/img/icons/social/behance.svg" alt=""></a>
        <a href="" target="_blank"><img src="assets/img/icons/social/vk.svg" alt=""></a>
        <a href="" target="_blank"><img src="assets/img/icons/social/pinterest.svg" alt=""></a>
      </div>
      <!-- /.side-menu__social -->
    </div>
    <!-- /.side-menu__content -->

    <div class="side-menu__footer">
      <img class="side-menu__image" src="" alt="">

      <div class="side-menu__geo">
        <div class="overflow-block custom-scrollbar custom-scrollbar--thin custom-scrollbar--white">
          <span>г. Нижний Новгород</span>
          <span>г. Москва</span>
          <span>г. Москва</span>
          <span>г. Казань</span>
          <span>г. Казань</span>
        </div>
        <!-- /.overflow-block -->
      </div>
      <!-- /.side-menu__geo -->
    </div>
    <!-- /.side-menu__footer -->
  </div>
  <!-- /.side-menu__container -->
</div>
<!-- /.side-menu -->