// Цветовая палитра блоков
$palette-white: #ffffff;
$palette-orange: #ff8025;
$palette-black: #121212;

// Цветовая палитра текста
$color-text__primary: #121212;
$color-text__orange: #ff8025;
$color-text__black: #000000;
$color-text__white: #ffffff;
$color-text__lightgray: #cbcbcb;
$color-text__gray: #9d9d9d;
