.input {
  position: relative;

  &[type="number"] {
    appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
    }
  }

  &[data-required] {
    .input__field {
      border-color: $palette-orange;
    }
  }

  &--error {
    .input__field {
      border-color: #e64747 !important;
    }

    .input__warning {
      opacity: 1;
      visibility: visible;
    }
  }

  &__field {
    display: inline-block;
    width: 100%;
    padding: 20px 25px;

    border: 1px solid $palette-black;
    border-radius: $border-radius--button;
    outline: none;

    background-color: $palette-white;
    color: $color-text__primary;

    &::placeholder {
      color: $color-text__gray;
    }
  }

  &__warning {
    position: absolute;
    top: 50%;
    right: 15px;

    width: 24px;
    height: 24px;

    opacity: 0;
    visibility: hidden;

    cursor: help;
    transform: translateY(-50%);

    transition: 0.2s ease;
  }
}
