<div data-micromodal-trigger="modal-promotion" class="card-promotion card-promotion--@@color">
  <img class="card-promotion__background" src="@@image" alt="" />
  <div class="card-promotion__content">
    <h3 class="card-promotion__title">@@title</h3>
    <p class="card-promotion__subtitle">@@subtitle</p>

    <span class="card-promotion__info">@@info</span>
  </div>
  <!-- /.card-promotion__content -->

  <div class="hidden">
    <p>@@text</p>
  </div>
  <!-- /.hidden -->
</div>
<!-- /.promotion__item -->