.section {
  &:not(:last-child) {
    margin-bottom: 200px;
  }

  &__header {
    margin-bottom: 40px;
  }

  &__title {
    font-size: $font-size__title--medium;

    &--orange {
      color: $color-text__orange;
    }
  }
}
