@@include('layout/partials/header.html')

<!-- Основной контент -->
<main id="home">
  <section data-hero id="hero" class="section">
    <div class="container">
      <div class="hero">
        <div class="hero__action">
          <button class="button button-primary button-primary--shadow me-5">Рассчитать стоимость</button>
          <button class="button button-outline">Портфолио</button>
        </div>
        <!-- /.hero__action -->
      </div>
      <!-- /.hero -->
    </div>
    <!-- /.container -->
  </section>

  <section id="service" class="section">
    <div class="container">
      <div class="section__header">
        <h2 class="section__title text-center">
          Что мы делаем
        </h2>
      </div>
      <!-- /.section__header -->

      <div class="service">
        <div class="row justify-content-center">
          <div class="col-12 col-xl-10">
            <div class="service__grid">
              @@include('layout/template/card/service.html', {
              "title": "Бизнес полиграфия",
              "price": "от 50 000 р.",
              "image": "assets/img/layout/template/card/service/1.png"
              })

              @@include('layout/template/card/service.html', {
              "title": "Широкоформатная печать",
              "price": "от 50 000 р.",
              "image": "assets/img/layout/template/card/service/2.png"
              })

              @@include('layout/template/card/service.html', {
              "title": "Интерьерная печать",
              "price": "от 50 000 р.",
              "image": "assets/img/layout/template/card/service/3.png"
              })

              @@include('layout/template/card/service.html', {
              "title": "Наклейки",
              "price": "от 50 000 р.",
              "image": "assets/img/layout/template/card/service/4.png"
              })

              @@include('layout/template/card/service.html', {
              "title": "Мобильные конструкции <br> и навигация",
              "price": "от 50 000 р.",
              "image": "assets/img/layout/template/card/service/5.png"
              })

              @@include('layout/template/card/service.html', {
              "title": "Плакаты и картины",
              "price": "от 50 000 р.",
              "image": "assets/img/layout/template/card/service/6.png"
              })
            </div>
            <!-- /.service__grid -->
          </div>
          <!-- /.col-10 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.service -->
    </div>
    <!-- /.container -->
  </section>

  <section id="promotion" class="section">
    <div class="container">
      <div class="section__header text-center">
        <h2 class="section__title">Акции и скидки</h2>
      </div>
      <!-- /.section__header -->

      <div class="promotion">
        <div class="row justify-content-center">
          <div class="col-12 col-md-4 mb-3 mb-md-0">
            @@include('layout/template/card/promotion.html', {
            "color": "orange",
            "title": "Скидка 10%",
            "subtitle": "За рекомендацию <br> другу, партнеру, <br> коллеге",
            "info": "Приведите друга и получите скидку вдвоем",
            "image": "assets/img/layout/template/card/promotion/1.svg",
            "text": "Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Переписали коварный он рекламных гор решила?"
            })
          </div>
          <!-- /.col-4 -->

          <div class="col-12 col-md-4 mb-3 mb-md-0">
            @@include('layout/template/card/promotion.html', {
            "color": "black",
            "title": "Скидка 10%",
            "subtitle": "На услугу <br> ”Брендирование под ключ”",
            "info": "",
            "image": "assets/img/layout/template/card/promotion/2.png",
            "text": "Далеко-далеко переписали коварный он рекламных гор решила?"
            })
          </div>
          <!-- /.col-4 -->

          <div class="col-12 col-md-4 mb-3 mb-md-0">
            @@include('layout/template/card/promotion.html', {
            "color": "orange",
            "title": "Скидка 10%",
            "subtitle": "На вторую услугу",
            "info": "Чем больше услуг, тем больше скидка!",
            "image": "assets/img/layout/template/card/promotion/3.png",
            "text": "Далеко-далеко за словесными горами в стране гласных и согласных коварный он рекламных гор решила?"
            })
          </div>
          <!-- /.col-4 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.promotion -->
    </div>
    <!-- /.container -->
  </section>

  @@include('layout/section/callback.html')
</main>

@@include('layout/partials/footer.html')